@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --secondary: 240 3.7% 15.9%;
  --muted: 240 3.7% 15.9%;
  --accent: 240 3.7% 15.9%;
  --radius: 1rem;
}

body {
  color: rgb(var(--foreground));
  background-color: var(--background);
  width: 100svw;
  height: 100svh;
  font-weight: 600;
}
